
<!DOCTYPE html>
<html>
<head>
	<title>TimeStampApp</title>
	<link rel="shortcut icon" href="/img/favtime.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/js/date.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12" id="box">
				<h1 id="title">Timestamp Using Moment.js</h1>
				<p id="time">Find out what time it is!</p>
				<input class="button button2" type="submit" value="Get Date" onclick="toggleInterval();"/>
			</div>
		</div>
	</div>
</body>
</html>

